@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.app nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    border-bottom: 1px #CCCCCC solid;
}

.app .navigation__logout_link {
    color: blue;
    cursor: pointer;
}

.app .navigation__logout_link:hover {
    text-decoration: underline;
}

.app .page {
    padding: 25px;
}

.app ul {
    list-style: none;
    margin: 0;
}

.app ul li {
    display: inline-block;
    margin-left: 25px;
}

.app .login__form {
    display: flex;
}

.app .login__form-fields {
    width: 400px;
    margin-left: 50px;
    padding-right: 30px;
    border-right: 1px #CCCCCC solid;
}

.app .login__actions {
    padding: 0 0 0 25px;
}

.app fieldset {
    margin-bottom: 15px;
    border: 0;
}

.app fieldset.--error {
    color: red;
}

.app fieldset.--error input {
    border: thin red solid;
}

.app fieldset label {
    display: block;
}

.app input {
    padding: 5px;
    width: 100%;
}

.app .login__toggle {
    padding: 15px 5px;
    display: flex;
    align-items: center;
}

.app .login__toggle h2{
    margin-right: 25px;
}

.app .login__submit {
    text-align: right;
}

.app .login__submit button {
    width: 100px;
    padding: 10px 15px;
    border-radius: 3px;
    color: white;
    background-color: #3F51B5;
    border: 2px transparent solid;
    cursor: pointer;
}

.app .login__submit button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.app .login__link {
    margin-right: 25px;
    color: blue;
    cursor: pointer;
}

.app .login__link:hover {
    text-decoration: underline;
}

.fake-link {
    color: blue;
    cursor: pointer;
}

.fake-link:hover {
    text-decoration: underline;
}